.page-4 h2{
	text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: #2c3e50;
    padding: 150px 0 0;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 0;
}
.page-4 hr{
	height: 4px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #E87E04;
    margin: 0 auto 80px;
    border: 0;
    transition: all 0.5s 0.2s;
}
.skill .word{
	color: #E87E04;
    margin: 2em 0 1em;
    font-size: 16px;
    font-family: "SimHei";
    text-align: center;
}
.moving .lgcircle{
	display: block;
	width: 150px;
	height: 150px;
	margin-left: 56px;
	border-radius: 50%;
	background-color: #2c3e50;
	position: relative;
	overflow: hidden;
}
.moving .lgcircle span:nth-of-type(1){
	display: block;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: #FFFFFF;
	position: absolute;
	top: 10px;
	left: 10px;
	overflow: hidden;
}
.moving .lgcircle span:nth-of-type(2){
	width: 80px;
	height: 80px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	left: 36px;
	top: 35px;
	text-align: center;
	font-size: 24px;
	line-height: 80px;	
}
